/* Universal styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Dark-mode */
header, main, footer {
    background-color: black;
    color: white;
    padding: 3rem;
}

#container {
    height: 100vh;
    width: 100vw;
}